[submodule "BLG242 - Logic Circuits Laboratory"]
	path = BLG242 - Logic Circuits Laboratory
	url = https://github.com/fatihaltinpinar/logic-lab
	branch = master
[submodule "BLG222E - Computer Organization/Homeworks"]
	path = BLG222E - Computer Organization/Homeworks
	url = https://github.com/batuhanfaik/blg222e_project.git
	branch = master
[submodule "BLG101E - Intr. to Information Systems/Homeworks/Assignment 1"]
	path = BLG101E - Intr. to Information Systems/Homeworks/Assignment 1
	url = https://github.com/fatihaltinpinar/BLG101E-Assignment-1.git
	branch = master
[submodule "BLG101E - Intr. to Information Systems/Homeworks/Assignment 2"]
	path = BLG101E - Intr. to Information Systems/Homeworks/Assignment 2
	url = https://github.com/fatihaltinpinar/a2-fatihaltinpinar.git
	branch = master
[submodule "YTU(17-18)/Sayısal Analiz/Project"]
	path = YTU(17-18)/Sayısal Analiz/Project
	url = https://github.com/fatihaltinpinar/SayisalAnaliz.git
	branch = master
