[Desktop Entry]
Encoding=UTF-8
Name=Link to ::: İTÜ Öğrenci Dekanlığı :::
Type=Link
URL=http://www.odek.itu.edu.tr/?SayfaId=13
Icon=text-html
Name[en_US]=Üniversite Yaşamında Etik Değerler
